MQTT&DASH&REMOTE.json
[
    {
        "id": "9735275e3e469096",
        "type": "tab",
        "label": "MQTT&DASH&REMOTE",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "ea5238a5a41825d8",
        "type": "function",
        "z": "9735275e3e469096",
        "name": "Wartosc_ADC",
        "func": "var adcValue = msg.payload.adc;\n\nmsg.payload = {\n    \"timestamp\": 0,\n    \"metrics\": [\n        {\n            \"timestamp\": 0,\n            \"name\": \"Maszyna_Student2\",\n            \"dataType\": \"Intiger\",\n            \"value\":0\n        }\n    ]\n}\n\nmsg.payload.metrics[0]['name'] = \"Maszyna_Student2\";\nmsg.payload.metrics[0]['timestamp']=Date.now();\nmsg.payload.metrics[0]['value'] = adcValue;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 820,
        "wires": [
            [
                "be638a5e427920c9"
            ]
        ]
    },
    {
        "id": "be638a5e427920c9",
        "type": "mqtt sparkplug device",
        "z": "9735275e3e469096",
        "name": "Maszyna_Student2",
        "metrics": {
            "Maszyna_Student2": {
                "dataType": "Int16",
                "name": "Maszyna_Student2"
            }
        },
        "broker": "96066781bb3fab17",
        "birthImmediately": false,
        "bufferDevice": false,
        "x": 870,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "a660f40b98fb6b47",
        "type": "serial out",
        "z": "9735275e3e469096",
        "name": "",
        "serial": "bf5216987340dcc6",
        "x": 410,
        "y": 760,
        "wires": []
    },
    {
        "id": "843e43d854d9e0d6",
        "type": "inject",
        "z": "9735275e3e469096",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "m",
        "payloadType": "str",
        "x": 190,
        "y": 760,
        "wires": [
            [
                "a660f40b98fb6b47"
            ]
        ]
    },
    {
        "id": "67a70385e7ec4673",
        "type": "serial in",
        "z": "9735275e3e469096",
        "name": "",
        "serial": "bf5216987340dcc6",
        "x": 170,
        "y": 1040,
        "wires": [
            [
                "4914745f6e3d34e1"
            ]
        ]
    },
    {
        "id": "dbb9c4a063a9f171",
        "type": "inject",
        "z": "9735275e3e469096",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "f",
        "payloadType": "str",
        "x": 190,
        "y": 820,
        "wires": [
            [
                "b92c40a44b5f0d4e"
            ]
        ]
    },
    {
        "id": "b92c40a44b5f0d4e",
        "type": "serial out",
        "z": "9735275e3e469096",
        "name": "",
        "serial": "bf5216987340dcc6",
        "x": 410,
        "y": 820,
        "wires": []
    },
    {
        "id": "1c0c99c96240f7b9",
        "type": "inject",
        "z": "9735275e3e469096",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "s",
        "payloadType": "str",
        "x": 190,
        "y": 880,
        "wires": [
            [
                "8f1122d369870ddc"
            ]
        ]
    },
    {
        "id": "8f1122d369870ddc",
        "type": "serial out",
        "z": "9735275e3e469096",
        "name": "",
        "serial": "bf5216987340dcc6",
        "x": 410,
        "y": 880,
        "wires": []
    },
    {
        "id": "511db31f420ed746",
        "type": "inject",
        "z": "9735275e3e469096",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "b",
        "payloadType": "str",
        "x": 190,
        "y": 940,
        "wires": [
            [
                "9cbe2fcb7177d077"
            ]
        ]
    },
    {
        "id": "9cbe2fcb7177d077",
        "type": "serial out",
        "z": "9735275e3e469096",
        "name": "",
        "serial": "bf5216987340dcc6",
        "x": 410,
        "y": 940,
        "wires": []
    },
    {
        "id": "4914745f6e3d34e1",
        "type": "function",
        "z": "9735275e3e469096",
        "name": "Odebranie danych",
        "func": "var payload = msg.payload;\n// Wyodrębnienie wyrazenia\nvar matches = payload.match(/(\\d+) \\(([\\d.]+) V\\)/);\n// sprawdzenie dopasowania\nif (matches && matches.length === 3) {\n    // Pierwsze dopasowanie to wartość ADC\n    var adcValue = parseInt(matches[1]);\n\n    // Drugie dopasowanie to wartość napięcia\n    var voltage = parseFloat(matches[2]);\n\n    // zwrócenie wartosci jako obiekt\n    msg.payload = {\n        adc: adcValue,\n        voltage: voltage\n    };\n\nreturn msg;\n} else {\n    // Jeśli dopasowanie nie zostało wykonane, zwróć błąd\n    node.error(\"Błąd: Nie można odczytać wartości z payload\");\n    return null; // Null, aby przerwać przepływ\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 1040,
        "wires": [
            [
                "92580b4897ca1f0c",
                "24b40bd0e80ad5bc",
                "843a68ff2d520022",
                "ed5f79437e596496",
                "ea5238a5a41825d8"
            ]
        ]
    },
    {
        "id": "92580b4897ca1f0c",
        "type": "ui_text",
        "z": "9735275e3e469096",
        "group": "cb87b3be3bde9cb7",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Odczyt z ADC ",
        "format": "{{msg.payload.adc}}",
        "layout": "row-spread",
        "x": 560,
        "y": 1040,
        "wires": []
    },
    {
        "id": "24b40bd0e80ad5bc",
        "type": "ui_text",
        "z": "9735275e3e469096",
        "group": "cb87b3be3bde9cb7",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Przeliczone napięcie ",
        "format": "{{msg.payload.voltage}}",
        "layout": "row-spread",
        "x": 580,
        "y": 1080,
        "wires": []
    },
    {
        "id": "843a68ff2d520022",
        "type": "split",
        "z": "9735275e3e469096",
        "name": "",
        "splt": ",",
        "spltType": "str",
        "arraySplt": "4",
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 310,
        "y": 1180,
        "wires": [
            [
                "f2b0f20e48b930e6",
                "bc5277ee78ca663d"
            ]
        ]
    },
    {
        "id": "f2b0f20e48b930e6",
        "type": "debug",
        "z": "9735275e3e469096",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 1200,
        "wires": []
    },
    {
        "id": "bc5277ee78ca663d",
        "type": "ui_gauge",
        "z": "9735275e3e469096",
        "name": "",
        "group": "cb87b3be3bde9cb7",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Napięcie referencyjne",
        "label": "Volts",
        "format": "{{value}}",
        "min": "1.05",
        "max": "1.1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 580,
        "y": 1140,
        "wires": []
    },
    {
        "id": "ed5f79437e596496",
        "type": "debug",
        "z": "9735275e3e469096",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 980,
        "wires": []
    },
    {
        "id": "dd7e6e7c0eec59ac",
        "type": "remote-access",
        "z": "9735275e3e469096",
        "confignode": "9c21d7706c9e10a9",
        "name": "MQTT",
        "verbose": 0,
        "x": 810,
        "y": 1040,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "96066781bb3fab17",
        "type": "mqtt-sparkplug-broker",
        "name": "STUDENT_IT",
        "deviceGroup": "ParkMaszynowy",
        "eonName": "Linia1",
        "broker": "149.156.138.167",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": "60",
        "cleansession": true,
        "enableStoreForward": false,
        "compressAlgorithm": "",
        "aliasMetrics": false,
        "useTemplates": true,
        "manualEoNBirth": false,
        "primaryScada": ""
    },
    {
        "id": "bf5216987340dcc6",
        "type": "serial-port",
        "name": "COM5",
        "serialport": "COM5",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "\\n",
        "responsetimeout": "100"
    },
    {
        "id": "cb87b3be3bde9cb7",
        "type": "ui_group",
        "name": "IoT",
        "tab": "49f7d6b84ac75f60",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "9c21d7706c9e10a9",
        "type": "remote-config",
        "name": "MQTT",
        "host": "localhost",
        "protocol": "http",
        "port": "1880",
        "baseurl": "http://127.0.0.1:1880/ui/#!/0?socketid=BlJhLnlNwyELT8B_AAAA",
        "instancehash": "2g0atn1kafahn7pxlctj31d5tj06bx77x4f6hpu1f9bl0ds1laro6fu6xp8yh8a8",
        "server": "nodered04.remote-red.com",
        "region": "de"
    },
    {
        "id": "49f7d6b84ac75f60",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]